{% load static %}
<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <title>MikiFit</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    </head>
    
    <body>
        <div class="chatbot-popup">

            <!-- Chatbot Header -->
            <div class="chat-header">
                <div class="header-info">
                    <img class="chatbot-logo" src="{% static 'images/miki_fit_logo.png' %}" alt="Logo chatbox" width="50" height="50">
                    <h2 class="logo-text"> Kledingadviseur</h2>
                    
                    <button class="material-safe" id="safe-chat">
                        <img src="{% static 'images/Safefile_icon.png' %}" alt="mic button" width="20" height="20">
                    </button>
                </div>
            </div>

            <!-- Chatbot Body -->
            <div class="chat-body">
                <div class="message bot-message">
                    <img class="bot-avatar" src="{% static 'images/miki_logo_noback.png' %}"  alt="logo chatmessage" width="100" height="100">
                    
                    <div class="message-text"> Hallo! 
                        <br>Hoe kan ik je vandaag helpen?
                    </div>
                </div>

                <div class="message user-message">
                    <div class="message-text"> 
                            Stel jezelf voor?
                    </div>
                </div>

                <div class="message bot-message thinking">
                    <img class="bot-avatar" src="{% static 'images/miki_logo_noback.png' %}"  alt="logo chatmessage" width="50" height="50">
                    
                    <div class="message-text">
                        <div class="thinking-indicator">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Chatbot Footer -->
            <div class="chat-footer">
                <form action="#" class="chat-form">

                    <!-- Text area -->
                    <textarea placeholder="Bericht..." class="message-input" 
                    required></textarea>
                    
                    <div class="chat-controls">
                        <!-- microfoon button -->
                        <button type="button" class="material-symbols-rounded">
                            <img src="{% static 'images/microphone-lines.svg' %}" alt="mic button" width="20" height="20">
                        </button>

                        <!-- upload foto button -->
                        <button type="button" class="material-symbols-rounded">
                            <img src="{% static 'images/image.svg' %}"  alt="img button" width="20" height="20">
                        </button>
                        
                        <!-- Send button -->
                        <button type="submit" id="send-message" class="material-symbols-rounded">
                            <img src="{% static 'images/paper-plane.svg' %}"  alt="send button" width="20" height="20">
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
        <script>
            // Definieert globale variabelen voor gebruik externe js
            window.BOT_AVATAR = "{% static 'images/miki_logo_noback.png' %}";
            window.CHAT_URL = "{% url 'chat_view' %}";
            console.log("CHAT_URL is set to:", window.CHAT_URL);  // Debug line
        </script>

        <!-- script file -->
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>